/* regole di defaul */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    max-width: 3000px;
    margin: 0 auto;
  }
  /* row */
  .row{
    height: 150px;
    background-color: cyan;
    text-align: center;
    line-height: 150px;
  }
  .row::after{
    content: "";
    display: table;
    clear: both;
  }
  .row [class*="col-"]{
    float: left;
    height: 100%;
    border: 1px solid black;
  }
  .row .row{
    padding: 5px;
    line-height: 150px;
  }
  .row .row [class*="col-"]{
    border: 1px solid white;
  }
  /* nested */
  .nested{
    background-color: red;
    border-color: 1px solid white;
  }
  
  .nested [class*="col-"]{
  
    height: 100%;
  }

  .offset-1{
    margin-left: calc((100% / 12) * 1);
  }

.offset-2{
    margin-left: calc((100% / 12) * 2);
}
.offset-3{
    margin-left: calc((100% / 12) * 3);
}

.offset-4{
    margin-left: calc((100% / 12) * 4);
}

.offset-5{
    margin-left: calc((100% / 12) * 5);
}

.offset-6{
    margin-left: calc((100% / 12) * 6);
}

.offset-7{
    margin-left: calc((100% / 12) * 7);
}

.offset-8{
    margin-left: calc((100% / 12) * 8);
}

.offset-9{
    margin-left: calc((100% / 12) * 9);
}

.offset-10{
    margin-left: calc((100% / 12) * 10);
}

.offset-11{
    margin-left: calc((100% / 12) * 11);
}

.offset-12{
    margin-left: calc((100% / 12) * 12);
}